{{- $src := .Destination -}}
{{- $alt := .PlainText -}}
{{- $title := .Title -}}
{{- $maxWidth := 2000 -}}
{{- if not (or (findRE `http[s]{0,1}://` $src 1) (findRE `^\/.*` $src 1)) -}}
{{- $i := .Page.Resources.GetMatch $src -}}
{{- if not $i -}}{{- $i = resources.Get $src -}}{{- end -}}
{{- with $i -}}
{{- if eq .MediaType.MainType "image" -}}
{{- $width := .Width -}}
{{- $height := .Height -}}
{{- if gt $width $maxWidth -}}
{{- $height = (int (math.Round (mul (div (float $maxWidth) (float $width)) (float $height)))) -}}
{{- $width = $maxWidth -}}
{{- end -}}
{{- $jpg := "" -}}
{{- $webp := "" -}}
{{- if eq .MediaType "image/webp" -}}
{{- $jpg = .Resize (printf "%vx%v jpg" $width $height) -}}
{{- $webp = .Resize (printf "%vx%v webp" $width $height) -}}
{{- else if eq .MediaType "image/jpeg" -}}
{{- $webp = .Resize (printf "%vx%v webp" $width $height) -}}
{{- $jpg = .Resize (printf "%vx%v jpg" $width $height) -}}
{{- else -}}
{{- $jpg = .Resize (printf "%vx%v jpg" $width $height) -}}
{{- $webp = .Resize (printf "%vx%v webp" $width $height) -}}
{{- end -}}
<picture><source srcset="{{ $webp.RelPermalink }}" type="image/webp"><source srcset="{{ $jpg.RelPermalink }}" type="image/jpeg"><img src="{{ $webp.RelPermalink }}"{{ with $alt }} alt="{{ . }}"{{ end }}{{ with $title }} title="{{ . }}"{{ end }} width="{{ $jpg.Width }}" height="{{ $jpg.Height }}" loading="lazy" /></picture>
{{- else -}}
<img src="{{ .RelPermalink }}"{{ with $alt }} alt="{{ . }}"{{ end }}{{ with $title }} title="{{ . }}"{{ end }} loading="lazy" />
{{- end -}}
{{- else -}}
<img src="{{ $src }}"{{ with $alt }} alt="{{ . }}"{{ end }}{{ with $title }} title="{{ . }}"{{ end }} loading="lazy" />
{{- end -}}
{{- else -}}
<img src="{{ $src }}"{{ with $alt }} alt="{{ . }}"{{ end }}{{ with $title }} title="{{ . }}"{{ end }} loading="lazy" />
{{- end -}}
