{{- $src := .Destination -}}
{{- $alt := .PlainText -}}
{{- $title := .Title -}}
{{- if not (or (findRE `http[s]{0,1}://` $src 1) (findRE `^\/.*` $src 1)) -}}
{{- $i := .Page.Resources.GetMatch $src -}}
{{- if not $i -}}{{- $i = resources.Get $src -}}{{- end -}}
{{- with $i -}}
{{- partial "processed-image.html" (dict "src" . "alt" $alt) -}}
{{- else -}}
<img src="{{ $src }}"{{ with $alt }} alt="{{ . }}"{{ end }}{{ with $title }} title="{{ . }}"{{ end }} loading="lazy" />
{{- end -}}
{{- else -}}
<img src="{{ $src }}"{{ with $alt }} alt="{{ . }}"{{ end }}{{ with $title }} title="{{ . }}"{{ end }} loading="lazy" />
{{- end -}}
