{{- $img := .src -}}
{{- $alt := .alt | default "" -}}
{{- $class := .class | default "" -}}
{{- $style := .style | default "" | safeCSS -}}
{{- $loading := .loading | default "lazy" -}}
{{- $maxWidth := .maxWidth | default 2000 -}}
{{- $maxHeight := .maxHeight | default 0 -}}
{{- if eq $img.MediaType.MainType "image" -}}
{{- $origWidth := $img.Width -}}
{{- $origHeight := $img.Height -}}
{{- $width := $img.Width -}}
{{- $height := $img.Height -}}
{{- if gt $width $maxWidth -}}
{{- $height = (int (math.Round (mul (div (float $maxWidth) (float $width)) (float $height)))) -}}
{{- $width = $maxWidth -}}
{{- end -}}
{{- if and (gt $maxHeight 0) (gt $height $maxHeight) -}}
{{- $width = (int (math.Round (mul (div (float $maxHeight) (float $height)) (float $width)))) -}}
{{- $height = $maxHeight -}}
{{- end -}}
{{- $width2x := (mul $width 2) -}}
{{- $height2x := (mul $height 2) -}}
{{- if gt $width2x $origWidth -}}
{{- $width2x = $origWidth -}}
{{- $height2x = $origHeight -}}
{{- end -}}
{{- $jpg1x := "" -}}
{{- $webp1x := "" -}}
{{- $jpg2x := "" -}}
{{- $webp2x := "" -}}
{{- if eq $img.MediaType "image/webp" -}}
{{- $jpg1x = $img.Resize (printf "%vx%v jpg" $width $height) -}}
{{- $webp1x = $img.Resize (printf "%vx%v webp" $width $height) -}}
{{- $jpg2x = $img.Resize (printf "%vx%v jpg" $width2x $height2x) -}}
{{- $webp2x = $img.Resize (printf "%vx%v webp" $width2x $height2x) -}}
{{- else if eq $img.MediaType "image/jpeg" -}}
{{- $webp1x = $img.Resize (printf "%vx%v webp" $width $height) -}}
{{- $jpg1x = $img.Resize (printf "%vx%v jpg" $width $height) -}}
{{- $webp2x = $img.Resize (printf "%vx%v webp" $width2x $height2x) -}}
{{- $jpg2x = $img.Resize (printf "%vx%v jpg" $width2x $height2x) -}}
{{- else -}}
{{- $jpg1x = $img.Resize (printf "%vx%v jpg" $width $height) -}}
{{- $webp1x = $img.Resize (printf "%vx%v webp" $width $height) -}}
{{- $jpg2x = $img.Resize (printf "%vx%v jpg" $width2x $height2x) -}}
{{- $webp2x = $img.Resize (printf "%vx%v webp" $width2x $height2x) -}}
{{- end -}}
<picture><source srcset="{{ $webp1x.RelPermalink }} 1x, {{ $webp2x.RelPermalink }} 2x" type="image/webp"><source srcset="{{ $jpg1x.RelPermalink }} 1x, {{ $jpg2x.RelPermalink }} 2x" type="image/jpeg"><img src="{{ $webp1x.RelPermalink }}"{{ with $alt }} alt="{{ . }}"{{ end }}{{ with $class }} class="{{ . }}"{{ end }}{{ with $style }} style="{{ . }}"{{ end }} width="{{ $jpg1x.Width }}" height="{{ $jpg1x.Height }}" loading="{{ $loading }}" /></picture>
{{- else -}}
<img src="{{ $img.RelPermalink }}"{{ with $alt }} alt="{{ . }}"{{ end }}{{ with $class }} class="{{ . }}"{{ end }}{{ with $style }} style="{{ . }}"{{ end }} loading="{{ $loading }}" />
{{- end -}}
