<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
{{- if .Get "link" -}}
<a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
{{- end -}}
{{- $u := urls.Parse (.Get "src") -}}
{{- $src := "" -}}
{{- $alt := "" -}}
{{- with .Get "alt" -}}
{{- $alt = . -}}
{{- else -}}
{{- $alt = .Get "caption" | markdownify | plainify -}}
{{- end -}}
{{- if not $u.IsAbs -}}
{{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) -}}
{{- $src = . -}}
{{- end -}}
{{- end -}}
{{- if $src -}}
{{- partial "processed-image.html" (dict "src" $src "alt" $alt "loading" (.Get "loading" | default "lazy") "maxHeight" (.Get "maxHeight" | default 0) "maxWidth" (.Get "maxWidth" | default 2000)) -}}
{{- else -}}
<img src="{{ ($u).String }}"{{ with $alt }} alt="{{ . }}"{{ end }}{{ with .Get "width" }} width="{{ . }}"{{ end }}{{ with .Get "height" }} height="{{ . }}"{{ end }}{{ with .Get "loading" }} loading="{{ . }}"{{ end }}>
{{- end -}}
{{- if .Get "link" }}</a>{{ end -}}
{{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
<figcaption>
{{ with (.Get "title") -}}
<h4>{{ . }}</h4>
{{- end -}}
{{- if or (.Get "caption") (.Get "attr") -}}<p>
{{- .Get "caption" | markdownify -}}
{{- with .Get "attrlink" }}
<a href="{{ . }}">
{{- end -}}
{{- .Get "attr" | markdownify -}}
{{- if .Get "attrlink" }}</a>{{ end }}</p>
{{- end }}
</figcaption>
{{- end }}
</figure>
