{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $style := .Get "style" | default "" -}}
{{- $class := .Get "class" | default "" -}}
{{- $loading := .Get "loading" | default "lazy" -}}
{{- $link := .Get "link" | default "" -}}
{{- if $src -}}
{{- $i := .Page.Resources.GetMatch $src -}}
{{- if not $i -}}{{- $i = resources.Get $src -}}{{- end -}}
{{- with $i -}}
{{- $origPermalink := .RelPermalink -}}
{{- if eq $link "true" -}}<a href="{{ $origPermalink }}">{{- end -}}
{{- partial "processed-image.html" (dict "src" . "alt" $alt "class" $class "style" $style "loading" $loading) -}}
{{- if eq $link "true" -}}</a>{{- end -}}
{{- else -}}
{{- errorf "processed-img: resource %q not found. See %s" $src .Position -}}
{{- end -}}
{{- else -}}
{{- errorf "processed-img: src parameter is required. See %s" .Position -}}
{{- end -}}
